/StudentManagementSystem/nbproject/private/
/StudentManagementSystem/dist/
/StudentManagementSystem/build/
/InventoryManagementSystem/nbproject/private/
/InventoryManagementSystem/build/
/InventoryManagementSystem/dist/
